.footer {
    text-align: center;
    background-color: teal;
    border: 5px solid#312f2f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgb(209, 196, 196);
}

.footer__link {
    color: white;
}