.navigation {
    border: px solid black;
    display: flex;
    justify-content: auto;
    align-items: center;
    align-content: flex-start;
}

.navigation__item {
    padding: 20px;
    background: teal;
    color: white;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.navigation__item:hover {
    background: hsl(180, 100%, 20%);
}

.navigation__item:active {
    background-color: hsl(180, 100%, 15%);
}

.navigation__item--button {
    border: none;
}